<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'openid！, ' + ${openid} + '!'">3333</p>
<p th:text="'nickname！, ' + ${nickname} + '!'">3333</p>
<p th:text="'sex！, ' + ${sex} + '!'">3333</p>
<p th:text="'province！, ' + ${province} + '!'">3333</p>
<p th:text="'city！, ' + ${city} + '!'">3333</p>
<p th:text="'country！, ' + ${country} + '!'">3333</p>
<p th:text="'avatar！, ' + ${avatar} + '!'">3333</p>
<p th:text="'privilege！, ' + ${privilege} + '!'">3333</p>
<p th:text="'unionId！, ' + ${unionId} + '!'">3333</p>
</body>
</html>